In [13]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['s','r'])
print("\n original Data Frame: \n",info)
print("\n square root: \n",info.apply(np.sqrt))
print("\n sum of each column: \n",info.apply(np.sum,axis=0))
print("\n sum of each row: \n",info.apply(np.sum,axis=1))

 original Data Frame:
    s  r
0  3  9
1  3  9
2  3  9
3  3  9

 square root:
           s    r
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column:
 s    12
r    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [19]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print(info)
print(info.agg(['min','max']))

   x  y  z
0  2  4  6
1  1  3  5
2  5  8  7
     x  y  z
min  1  3  5
max  5  8  7

In [26]:
import pandas as pd
import numpy as np
a=pd.DataFrame([['sai',88],['poo',70]],columns=['Employee name','ID'])
print(a)
a['age']=[20,10]
print("adding new column \n",a)

  Employee name  ID
0           sai  88
1           poo  70
adding new column
   Employee name  ID  age
0           sai  88   20
1           poo  70   10

In [29]:
import pandas as pd
import numpy as np
b=pd.DataFrame([['sai',88],['poo',70]],columns=['Employee name','ID'])
print(a)
b['sex']=['male','male']
print("adding new column \n",b)
a=a.assign(age=[20,18])

  Employee name  ID  age
0           sai  88   20
1           poo  70   10
adding new column
   Employee name  ID   sex
0           sai  88  male
1           poo  70  male

In [36]:
import pandas as pd
import numpy as np
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col3')

       col3      col4
3  1.912006  0.242354
2  2.021550  0.201437
0 -0.912875  0.276262
4 -0.095765 -1.368530
1  0.660272  0.152120
       col3      col4
0 -0.912875  0.276262
1  0.660272  0.152120
2  2.021550  0.201437
3  1.912006  0.242354
4 -0.095765 -1.368530

In [1]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3,4],'Name':['sai','poo','suba','yuvi'],'sub':['sub 1','sub 2','sub 4','sub 3']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['sanju','saran','som','rubi'],'sub':['sub 2','sub 4','sub 3','sub 5']})
print(left)
print(right)
print(pd.merge(left,right,on="id"))

   id  Name    sub
0   1   sai  sub 1
1   2   poo  sub 2
2   3  suba  sub 4
3   4  yuvi  sub 3
   id   Name    sub
0   1  sanju  sub 2
1   2  saran  sub 4
2   3    som  sub 3
3   4   rubi  sub 5
   id Name_x  sub_x Name_y  sub_y
0   1    sai  sub 1  sanju  sub 2
1   2    poo  sub 2  saran  sub 4
2   3   suba  sub 4    som  sub 3
3   4   yuvi  sub 3   rubi  sub 5